---
layout: default
title:  Default Post
date:   2022-06-23
author: Kyle Brown
description: This is a default post
featured-image: snesController.jpg
featured-image-alt: SNES Controller
---
<link href="/css/override.css" rel="stylesheet" type="text/css">
<div class="featuredImage">
  {% if page.featured-image %}{% include post-featured-image.html image=page.featured-image alt=page.featured-image-alt %}{% endif %}
</div>
<div class="wrapper">
  <article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
      <h4>{% if page.description %}{{ page.description }}{% endif %}</h4>
      <p class="post-meta">
        <div class="pageAuthor">{% if page.author %}{{ page.author }}{% else %}Anonymous{% endif %}</div>
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
          {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          {{ page.date | date: date_format }}
        </time>
    </header>

    <!--<div class="share-links">
      {% include sharelinks.html %}
    </div>-->

    <div class="post-content e-content" itemprop="articleBody">
      {{ content }}
      {% include navlinks.html %}
    </div>

    <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
  </article>
</div>